/* .index-body {
  background: linear-gradient(
    180deg,
    #56ff52,
    #0aff99,
    #0af7cc,
    #0aefff,
    #0fb6fa,
    #147df5,
    #3644fa,
    #580aff,
    #8b0aff,
    #be0aff
  ); for background color 
} */
.index-zephyr {
  /* color: #; */
  /* text-decoration: orangered underline ; */
  font-family: cursive;
  font-size: 50px;
  font-weight: 900;
}
.nav-bar {
  background-color: rgba(5, 10, 0, 0.885);
  height: 50px;
  width: 800px;
  /* height: auto; */
  /* width: auto; */
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.index-pages {
  font-family: cursive;
  color: yellow;
  text-decoration: none;
}
.index-pages {
  padding: 3px;
}
.index-pages:hover {
  color: red;
  /* border: 2px solid white; */
  /* border-radius: 5px; */
}
.index-para {
  color: white;
  font-size: 21px;
  font-weight: 900;
}
.index-image-container {
  height: 320px;
  width: 350px;
  /* height: auto; */
  /* width: auto; */
  background-color: #efff0a;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 10px black;
}
.index-image {
  height: 275px;
  /* height: auto; */
  border-radius: 15px;
  margin-top: 15px;
  box-shadow: 0px 15px 15px rgba(255, 0, 0, 0.6);
  animation: gallary-image 1.5s linear 0s 1 alternate;
}
.index-image:hover {
  cursor: zoom-in;
  transform: scale(1.2);
}
.index-hr {
  border: 1px solid #ff1b0a;
}
.index-footer-img {
  border-radius: 7px;
}
.index-footer-img:hover {
  border: 3px solid black;
  border-radius: 7px;
}

/* login */
/* .login-body {
  background-color: #8cb369;
} */
.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.login-h1 {
  color: white;
  font-family: cursive;
  font-size: 35px;
}
.login-box {
  height: 250px;
  width: 300px;
  background-color: #f5ebe0ba;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border: 1px solid #f4e285c7;
  border-radius: 10px;
  box-shadow: -8px 15px 25px rgba(0, 0, 0, 0.8);
  animation: login-box-anim 1s linear 0s 1;
}
.login-box a:hover {
  color: red;
}
.login-box input {
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
}
@keyframes login-box-anim {
  0% {
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 618px;
    bottom: 0px;
  }
  100% {
    position: fixed;
    left: 618px;
    bottom: 289px;
  }
}

/* register */
.register-body {
  background-color: #f2903bf2;
}
.register-h1 {
  color: rgb(0, 0, 0);
  font-family: cursive;
  font-size: 35px;
}
.register-box1 {
  height: 250px;
  width: 450px;
  /* height: auto; */
  margin-top: 20px;
  background-color: #ffd5c2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.6);
  animation: register-box1-anim 1s linear 0s 1;
}
.register-box2 {
  height: 450px;
  width: 450px;
  /* height: auto; */
  margin-top: 20px;
  background-color: #ffd5c2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.6);
  animation: register-box2-anim 1s linear 0s 1;
}
.register-box3 {
  height: 300px;
  width: 450px;
  /* height: auto; */
  margin-top: 20px;
  background-color: #ffd5c2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.6);
  animation: register-box3-anim 1s linear 0s 1;
}
.register-body input {
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
}
.register-box2 select{
  width: 100px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}
@keyframes register-box1-anim {
  0% {
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0px;
    bottom: 303px;
  }
  100% {
    position: fixed;
    left: 540px;
    bottom: 303px;
  }
}
@keyframes register-box2-anim {
  0% {
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
    position: fixed;
    right: 0px;
    top: 425px;
  }
  100% {
    position: fixed;
    right: 540px;
    top: 425px;
  }
}
@keyframes register-box3-anim {
  0% {
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0px;
    top: 800px;
  }
  100% {
    position: fixed;
    left: 540px;
    top: 800px;
  }
}
/* about us */
.aboutus-body {
  background-color: #891ddcec;
}
.aboutus-h1 {
  font-family: cursive;
  color: #ffffff;
}
.aboutus-p {
  background-color: #adff02;
  height: 175px;
  width: 650px;
  /* height: auto; */
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.6);
}
.aboutus-p1 {
  color: rgb(239, 51, 51);
  font-family: cursive;
}
.aboutus-achievements {
  background-color: #adff02;
  height: 400px;
  width: 650px;
  /* height: auto; */
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.6);
}
.aboutus-image {
  animation: gallary-image 1.5s linear 0s 1 alternate;
  box-shadow: 0px 15px 15px rgba(255, 0, 0, 0.8);
}
.aboutus-image:hover {
  cursor: zoom-in;
  transform: scale(1.2);
}
@keyframes gallary-image {
  0% {
    transform: scale(0.1);
    /* rotate: 0deg; */
    box-shadow: 0px 15px 15px rgba(255, 0, 0, 0.1);
  }
  100% {
    transform: scale(1);
    /* rotate: 360deg; */
    box-shadow: 0px 15px 15px rgba(255, 0, 0, 0.8);
  }
}
.aboutus-footer-img {
  border-radius: 7px;
}
.aboutus-footer-img:hover {
  border: 3px solid black;
  border-radius: 7px;
}

/* gallary */
.gallary-body {
  background-color: rgba(255, 255, 0, 0.801);
}
.gallary-h1 {
  color: red;
  font-family: cursive;
}
.gallary-img1 {
  text-align: center;
}
.gallary-images {
  height: 225px;
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: 0px 15px 15px rgba(255, 0, 0, 0.8);
  animation: gallary-image 1.5s linear 0s 1 alternate;
}
.gallary-images:hover {
  cursor: zoom-in;
  transform: scale(1.5);
}
.gallary-footer-img {
  border-radius: 7px;
}
.gallary-footer-img:hover {
  border: 3px solid black;
  border-radius: 7px;
}
